backports-abc==0.5
backports.functools-lru-cache==1.6.4
certifi==2020.6.20
CVXcanon==0.1.1
cvxpy==0.4.9
cycler==0.10.0
dill==0.3.2
ecos==2.0.4
fastcache==1.1.0
functools32==3.2.3.post2
futures==3.3.0
kiwisolver==1.1.0
matplotlib==2.2.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
multiprocess==0.70.4
numpy==1.16.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
qcqp==0.8.3
scipy==1.2.1
scs==1.2.6
singledispatch==3.7.0
six==1.16.0
subprocess32==3.5.4
toolz==0.10.0
tornado==5.1.1
